<template name="layout">
  <head>
    <meta name="viewport" content="width=device-width" />
  </head>
  <div>
    <ul class="topnav">
      <li><a href="{{pathFor 'home'}}">Home</a></li>
      <li><a href="{{pathFor 'join'}}">Join Us</a></li>
      <li><a href="{{pathFor 'share'}}">Share</a></li>
      <li><a href="{{pathFor 'category'}}">Category</a></li>
      <li><a href="{{pathFor 'sponsors'}}">Sponsors</a></li>

    </ul>
    <ul>
      <li style="float:right">{{> loginButtons}}</li>
    </ul>
  </div>

  {{> yield}}


</template>
