body{
  background-color: #7B9CC3;
}
div#start{
  height: 700px;
  background-image: url(images/earth4.jpg);
  background-size: 100% 100%;
  padding: 10px;
}
div#joinus{
  height: 700px;
  background-image: url(images/galaxy2.jpg);
  background-size: 100% 100%;
  padding: 10px;

}

h1{
  font-family: Snell Roundhand, cursive;
}
h2{
  font-family: fantasy;
  color: #D0F3F6;
}
h3{
  font-family: Chalkduster, fantasy;
}
div#feedback{
  height: 700px;
  background-image: url(images/space.jpg);
  background-size: 100% 100%;
  padding: 10px;
}
div.box{
  height: 500px;
  background-color: rgba(255,255,255,0.5);
}

textarea{
  color: black;
}
#title{
  color: black;
}

.flex {
        /* basic styling */
        margin: auto;
        width: 1200px;
        height: 400px;
        border: 1px solid navy;
        font: 30px  fantasy ;

        /* flexbox setup */
        display: flex;
        flex-direction: row;
    }

.flex > div {
        flex: 1 1 auto;
        width: 80px; /* To make the transition work nicely. (Transitions to/from
                        "width:auto" are buggy in Gecko and Webkit, at least.
                        See http://bugzil.la/731886 for more info.) */
        transition: width 0.7s ease-out;
        height: auto;
    }

    /* colors */
    .flex > div:nth-child(1){ background: url(images/paris.jpg); }
    .flex > div:nth-child(2){ background: url(images/china.jpg); }
    .flex > div:nth-child(3){ background: url(images/maldives.jpg); }
    .flex > div:nth-child(4){ background: url(images/spain.jpg); }
    .flex > div:nth-child(5){ background: url(images/italy.jpg); }
    .flex > div:nth-child(6){ background: url(images/japan.jpg); }
    .flex > div:nth-child(7){ background: url(images/uk.jpg); }
    .flex > div:nth-child(8){ background: url(images/alaska.jpg); }
    .flex > div:nth-child(9){ background: url(images/norway.jpg); }
    .flex > div:nth-child(10){ background: url(images/cancun.jpg); }

    .flex > div:hover {
        width: 600px;
    }
