/*body{
  background-color: #7B9CC3;
}*/
body{
  font-family: monospace;
}
.page{
  padding-top: 2cm;
}
.home {
  height: 800px;
  background-image: url(images/aurora.jpg);
  background-size: 100% 100%;
  padding: 10px;
  padding-top: 2cm;
}
h3{
  font-family:monospace;
}
div#feedback{
  height: 700px;
  background-image: url(images/space.jpg);
  background-size: 100% 100%;
  padding: 10px;
}
div.box{
  height: 500px;
  /*background-color: snow;*/
  /*rgba(255,255,255,0.5);*/
}

textarea{
  color: black;
}
#title{
  color: black;
}

.flex {
        /* basic styling */
        margin: auto;
        width: 1200px;
        height: 400px;
        border: 1px solid navy;
        font: 30px  fantasy ;

        /* flexbox setup */
        display: flex;
        flex-direction: row;
    }

.flex > div {
        flex: 1 1 auto;
        width: 80px; /* To make the transition work nicely. (Transitions to/from
                        "width:auto" are buggy in Gecko and Webkit, at least.
                        See http://bugzil.la/731886 for more info.) */
        transition: width 0.7s ease-out;
        height: auto;
        text-align: center;
        color: snow;
    }

    /* colors */
    .flex > div:nth-child(1){ background: url(images/paris.jpg);}
    .flex > div:nth-child(2){ background: url(images/china.png); }
    .flex > div:nth-child(3){ background: url(images/maldives.jpg); }
    .flex > div:nth-child(4){ background: url(images/spain.png); }
    .flex > div:nth-child(5){ background: url(images/italy.jpg); }
    .flex > div:nth-child(6){ background: url(images/japan.jpg); }
    .flex > div:nth-child(7){ background: url(images/uk.jpg); }
    .flex > div:nth-child(8){ background: url(images/alaska.jpg); }
    .flex > div:nth-child(9){ background: url(images/norway.jpg); }
    .flex > div:nth-child(10){ background: url(images/cancun.jpg); }

    .flex > div:hover {
        width: 600px;
    }
.overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
}
.overlay:target {
      visibility: visible;
      opacity: 1;
}

.popup {
      margin: 200px auto;
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      width: 50%;
      position: relative;
      transition: all 5s ease-in-out;
}

.popup h2 {
      margin-top: 0;
      color: #333;
      font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
}
.popup .close:hover {
      color: #06D85F;
}
.popup .content {
      max-height: 50%;
      overflow: auto;
}


.sponsor {
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

h1.wish {
  font-family: 'Amatica SC';
  text-align: center;
}

.col{
  width: 40%;
  height: 400px;
  margin-left: 100px;
  background-color: snow;
  /*padding: 10px;*/
  float: left;
  padding: 15px;
}
.row::after{
  content: "";
    clear: both;
    display: block;
}
.dropdown-menu{
  margin:20px -150px 0;
}
@media (max-width:800px) {
  .home{
    height: 400px;
  }
  .col{
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .flex {
    width: 400px;
    height: 600px;
    flex-direction: column;
  }
  .flex > div {
          flex: 1 1 auto;
          height:40px; /* To make the transition work nicely. (Transitions to/from
                          "width:auto" are buggy in Gecko and Webkit, at least.
                          See http://bugzil.la/731886 for more info.) */
          transition: height 0.7s ease-out;
          width: auto;
          text-align: left;
          color: snow;
      }
      .flex > div:hover {
          height: 300px;
      }

  ul.topnav li a {
      font-size: 15px;
  }
}
